In [2]:
import pandas as pd
import numpy as np

In [ ]:
classifier_file_path = "../input/macros_dataset.csv"
classifier_dataset = pd.read_csv(classifier_file_path)

In [4]:
classifier_dataset.head()

,food_name,proteins_100g,carbohydrates_100g,fat_100g,energy_100g,category_name,origin,diet_type
0,Alaskan salmon,25.4,0.0,6.7,170.0,Fish,Animal,Omnivorous
1,Almonds,21.3,19.7,50.6,577.0,Nuts,Non-animal,Vegan
2,Amaranth,14.5,66.2,6.5,374.0,Grains,Non-animal,Vegan
3,Anchovies,29.0,0.0,9.7,210.0,Fish,Animal,Omnivorous
4,Asparagus,2.4,4.1,0.2,22.0,Vegetables,Non-animal,Vegan

In [ ]:
classifier_dataset = classifier_dataset.replace({'"', ''}, regex=True)
classifier_dataset.to_csv("../row/row_classifier.csv", index=False)

In [ ]:
# Load row classifier dataset
classifier_file_path = "../row/row_classifier.csv"
classifier_dataset = pd.read_csv(classifier_file_path)
classifier_dataset.head()

,food_name,proteins_100g,carbohydrates_100g,fat_100g,energy_100g,category_name,origin,diet_type
0,Alaskan salmon,25.4,0.0,6.7,170.0,Fish,Animal,Omnivorous
1,Almonds,21.3,19.7,50.6,577.0,Nuts,Non-animal,Vegan
2,Amaranth,14.5,66.2,6.5,374.0,Grains,Non-animal,Vegan
3,Anchovies,29.0,0.0,9.7,210.0,Fish,Animal,Omnivorous
4,Asparagus,2.4,4.1,0.2,22.0,Vegetables,Non-animal,Vegan

In [7]:
columns_to_drop = ["proteins_100g", "carbohydrates_100g", "fat_100g", "energy_100g", "category_name", "origin"]
classifier_dataset = classifier_dataset.drop(columns=columns_to_drop, )
print(classifier_dataset.columns)

Index(['food_name', 'diet_type'], dtype='object')

In [ ]:
classifier_dataset.to_csv("../output/classifier_final_version.csv", index=False)